<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dot</title>
    <script type="text/javascript" src="../angular.js"></script>
    <script type="text/javascript" src="dot.js"></script>
    <link type="text/css" src="../foundation.min.css">
</head>
<body>
<div ng-app="myApp">
    <!--当ng-model=message绑定的是一个对象的时候 是引用复制 不同的controller可以联动-->
    <input type="text" ng-model="data.message">
    <h1>{{data.message}}</h1>
    <div ng-controller="firstCtrl">
        <input type="text" ng-model="data.message">
        <h1>{{data.message}}</h1>
    </div>
    <div ng-controller="secondCtrl">
        <input type="text" ng-model="data.message">
        <h1>{{data.message}}</h1>
    </div>
    <h1>------------------------------------</h1>
    <!--当ng-model=message绑定的是一个数字，布尔或字符串的时候 是值复制 不同的controller不可以联动-->
    <input type="text" ng-model="message">
    <h1>{{message}}</h1>
    <div ng-controller="firstCtrl">
        <input type="text" ng-model="message">
        <h1>{{message}}</h1>
    </div>
    <div ng-controller="secondCtrl">
        <input type="text" ng-model="message">
        <h1>{{message}}</h1>
    </div>
</div>

</body>
</html>