<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>43-$index $event $log</title>
    <script type="text/javascript" src="../angular.js"></script>
    <script type="text/javascript" src="$index $event $log.js"></script>
    <link rel="stylesheet" href="../foundation.min.css">
</head>
<body>
<div ng-app="myApp">
    <!--
        $event 记录事件
        $log 记录日志
        通过.config(function($logProvider){
            $logProvider.debugEnabled(false)；
        })
        禁用debug 级别的日志
        可以在页面上实现debug,info,warn,error级别的输入
    -->
    <div class="panel" ng-click="ev = $event" ng-repeat="item in 'one'.split('')">
        {{$index+1}} {{item}}
        {{ev.pageX}}
    </div>

    <div class="panel" ng-click="logger.debug($event)" ng-repeat="item in 'two'.split('')">
        {{$index+1}} {{item}}
    </div>
</div>

</body>
</html>