<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>27-TemplateUrl</title>
    <script type="text/javascript" src="../angular.js"></script>
    <script type="text/javascript" src="TemplateUrl.js"></script>
    <link rel="stylesheet" href="../foundation.min.css">
</head>
<body >
<div ng-app="myApp">
    <!--
        可以通过定义模板的方式 来定义指令中的html
        直接将代码抽取到一个html文件，用templateUrl：xxx.html
        或者在ng-app指令内部定义一个模板
        <script type="text/ng-template" id=“xxx.html”>
        </script>
        同样的通过templateUrl：xxx.html来加载
    -->
    <div ng-controller="myCtrl">
        <input type="text" ng-model="model.title">
        <input type="text" ng-model="model.content">
        <my-directive title="{{model.title}}">
            the content is : {{model.content}}
        </my-directive>
    </div>
</div>
</body>
</html>