<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>28-TemplateCache</title>
    <script type="text/javascript" src="../angular.js"></script>
    <script type="text/javascript" src="TemplateCache.js"></script>
    <link rel="stylesheet" href="../foundation.min.css">
</head>
<body >
<div ng-app="myApp">
    <!--
        介绍了$templdateCache 的使用方法，有put(‘key’,'htmlcode')和get(‘key’)两个常用方法
        通常是直接在module.run(function($templateCache){$templateCache.put()})
        在初始化应用的时候将模版文件装入缓存中
        调用的时候可以用templdateUrl：key 或者是template:$templateCache.get(key)
    -->
    <div ng-controller="myCtrl">
        <input type="text" ng-model="model.title">
        <input type="text" ng-model="model.content">
        <my-directive title="{{model.title}}">
            the content is : {{model.content}}
        </my-directive>
    </div>
</div>
</body>
</html>